/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.account-layout .listings-city {
  position: relative;
  background: #1b1b1b;
}
.account-layout .listings-city__title {
  font-weight: 700;
  font-size: 4rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.account-layout .listings-city img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0.8;
}
.account-layout .listings-properties img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
}
.account-layout .listings-properties__item {
  display: block;
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-bottom: 2rem;
  position: relative;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
}
.account-layout .listings-properties__item:hover {
  color: rgb(219, 105, 29);
}
.account-layout .listings-properties__saved {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1b1b1b;
  background: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.account-layout .listings-properties__saved:hover, .account-layout .listings-properties__saved--active {
  background: #f56262;
  color: white;
}
.account-layout .listings-properties__item-price {
  font-size: 2rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.5rem;
}
.account-layout .listings-properties__item-details {
  font-size: 1.1rem;
  color: #7c8791;
  display: block;
  margin-bottom: 0.5rem;
}
.account-layout .listings-properties__item-address {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  display: block;
}
.account-layout .listings-properties__item-line {
  background: #7c8791;
  height: 1px;
}
.account-layout .listings-properties__item-owner {
  font-size: 0.9rem;
  color: #7c8791;
  text-align: center;
}

.header {
  padding: 20px 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  font-size: 2.3rem;
  font-weight: 700;
  text-transform: uppercase;
}
.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu-link {
  padding: 20px;
  font-weight: 600;
  color: #191f26;
  text-decoration: none;
}
.header__menu-link:hover, .header__menu-link--active {
  background: #234dd4;
  color: white;
}
.header__account {
  display: flex;
  align-items: center;
}
.header__account-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #234dd4;
  margin-right: 1.5rem;
  color: #3366cc;
}

.hero {
  padding: 0 50px;
  position: relative;
  overflow: hidden;
}
.hero__images {
  display: flex;
  max-width: 100vw;
  height: calc(100vh - 150px);
  transition: all 0.9s ease-in-out;
}
.hero__images:hover {
  transform: translate3d(-100%, 0, 0);
}
.hero__image {
  overflow: hidden;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.hero__info {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
}
.hero__subtitle {
  font-size: 1rem;
  color: white;
}
.hero__title {
  font-size: 6rem;
  width: 400px;
  color: white;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2rem;
}
.hero__info-link {
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
  text-decoration: none;
}
.hero__image-img {
  overflow: hidden;
  flex-shrink: 0;
  width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.hero__indicator {
  position: absolute;
  bottom: 0;
  right: 50px;
  background: white;
  display: flex;
  padding: 2rem;
}
.hero__indicator-item {
  display: flex;
}
.hero__indicator-number {
  font-size: 3rem;
  font-weight: 900px;
  padding-right: 2rem;
}
.hero__indicator-text {
  display: flex;
  width: 60px;
  align-items: center;
  font-weight: 700px;
  margin-right: 2rem;
}

.listings-page .listings-city {
  position: relative;
  background: #1b1b1b;
}
.listings-page .listings-city__title {
  font-weight: 700;
  font-size: 4rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.listings-page .listings-city img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0.8;
}
.listings-page .listings-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listings-page .listings-filter__wrapper {
  border-radius: 5px;
  background: white;
  display: flex;
  padding: 15px;
  position: relative;
  transform: translate(0, -50%);
}
.listings-page .listings-filter__option, .listings-page .listings-filter__button {
  padding: 0 15px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgb(205, 209, 212);
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
}
.listings-page .listings-filter__option:hover, .listings-page .listings-filter__button:hover {
  background: rgb(245, 246, 247);
}
.listings-page .listings-filter__button {
  margin-right: 0;
  border: 1px solid rgb(219, 105, 29);
}
.listings-page .listings-filter__button:hover {
  color: white;
  background: rgb(219, 105, 29);
}
.listings-page .listings-filter .fa-caret-down {
  margin-left: 1rem;
}
.listings-page .listings-properties img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
}
.listings-page .listings-properties__item {
  display: block;
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-bottom: 2rem;
  position: relative;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
}
.listings-page .listings-properties__item:hover {
  color: rgb(219, 105, 29);
}
.listings-page .listings-properties__saved {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1b1b1b;
  background: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.listings-page .listings-properties__saved:hover, .listings-page .listings-properties__saved--active {
  background: #f56262;
  color: white;
}
.listings-page .listings-properties__item-price {
  font-size: 2rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.5rem;
}
.listings-page .listings-properties__item-details {
  font-size: 1.1rem;
  color: #7c8791;
  display: block;
  margin-bottom: 0.5rem;
}
.listings-page .listings-properties__item-address {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  display: block;
}
.listings-page .listings-properties__item-line {
  background: #7c8791;
  height: 1px;
}
.listings-page .listings-properties__item-owner {
  font-size: 0.9rem;
  color: #7c8791;
  text-align: center;
}
